*{
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}
/* ESTILOS HEADER */ 
.background {
    background-color: rgba(6, 157, 107, 0.7);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}

h1 {
    margin-left: 20px;
}

h1:hover {
    color: red;
}

.logo {
    height: 150px;
    margin-top: 20px;
    margin-left: 40px;
}

.logo:hover {
    border: solid 2px red;
}

nav {
    width: 50%;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;

}


.nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

li:hover {
    color: red;
}

/* ESTILOS MAIN INDEX */

.background__article {
    background-color: rgba(233, 226, 32, 0.9);

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    text-justify: auto;
    font-size: 16px;
    margin: 20px;
    font-family: 'Inconsolata', monospace;
}

.title__il {
    border: solid black 3px;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 40px;
    text-align: center;
    align-items: center;
    height: 500px;
    margin-top: 40px;
    margin-left: 40px;
    width: 40%;
    font-family: 'Oswald', sans-serif;
}

.h2__il {
    margin-top: 10px;
}

.img {
    width: 150px;
}

section {
    border: solid black 3px;
    border-radius: 4%;
    background-color:rgba(233, 226, 32, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 40%;
    margin-top: 40px;
    margin-right: 200px;
    align-items: center;
}

.title__section {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    height: 30%;
    margin: 10px;
    text-align: center;

}

/* ESTILO FOOTER */

.footer {
    background-color: rgba(159, 189, 208, 0.9);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    height: 50px;
    margin-top: 30px;  
}
/* FIN ESTILO INDEX */

/* ESTILOS CONTACTO */

.title__contacto {
    border: solid black 3px;
    border-radius: 4%;
    background-color: rgba(233, 226, 32, 0.9) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    align-items: center;
    height: 700px;
    width: 30%;
    margin-left: 60px;
    margin-top: 60px;
}

.title__rs {
    border: solid black 3px;
    border-radius: 4%;
    background-color: rgba(233, 226, 32, 0.9) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    align-items: center;
    height: 700px;
    width: 30%;
    margin-right: 60px;
    margin-top: 60px;
}

/* ESTILOS ILUSTRACIONES */

.section__il {
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    border-radius: 4%;
    width: 90%;   
}

.title__img {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img__photo {
    border: 2px;
    border-radius: 4%;
    width: 150px;
}

.galeria {
    display: grid;
    grid-template-columns: 15% 15% 15%;
    grid-template-rows: 15% 15% 15%;
    gap: 85px; 
}

/* ESTILOS PROVISIONALES PLAYERAS */

.title__pla {
    border: solid black 3px;
    border-radius: 3px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 75px;
    align-items: center;
}

/* ESTILOS PROVISIONALES EVENTOS */

.title__eve {
    border: solid black 3px;
    border-radius: 4%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    width: 80%;
    margin-left: 75px;
    margin-top: 50px;

}

/* RESPONSIVE */

@media only screen and (max-width: 769px) {
    
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: left;
        font-size: 30px;
    }

    .logo {
        display: flex;
        flex-direction: row;
        height: 100px;
        margin-top: 20px;
        margin-left: 40px;
    }
    
    .nav__menu {
        display: flex;
        flex-direction: column;
        align-items: right;
    }

    nav {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 30%;
    
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .section__il {
        display: flex;
        flex-direction: column;
        border: solid black 3px;
        border-radius: 4%;
        width: 90%;   
    }
    
    .title__il {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 20px;
    }
    
    .galeria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .title__eve {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        width: 80%;
        margin-left: 75px;
        margin-top: 50px;
    
    }

}


 

