/* EXTERNOS */
@import url("https://fonts.googleapis.com/css?family=Sofia");
/* MISC */
@keyframes slidein {
  from {
    margin-right: 20px; }
  to {
    margin-right: 0px; } }

/* PARTIALS */
.footer {
  background-color: rgba(159, 189, 208, 0.9);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  height: 50px;
  margin-top: 30px; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 50px; }

h1 {
  margin-left: 20px;
  animation-duration: 3s;
  animation-name: slidein; }
  h1 h1:hover {
    color: red; }

.logo {
  height: 150px;
  margin-top: 20px;
  margin-left: 40px; }
  .logo .logo:hover {
    border: solid 2px red; }

nav {
  width: 50%;
  font-family: 'Inconsolata', monospace;
  font-size: 18px; }

.nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

li {
  list-style: none; }
  li li:hover {
    color: red; }

/* VIEWS */
.background {
  background-color: rgba(6, 157, 107, 0.7); }
