header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: $text-large;
    h1 {
        font-family: $font-principal;
        margin-left: 20px;
        animation-duration: 3s;
        animation-name: slidein;
        &:hover {
            color: map-get($colores , "alternative-color");
        }
    }
    .logo {
        height: 150px;
        margin-top: 20px;
        margin-left: 40px;
        &:hover {
            border: map-get($colores , "alternative-color") solid 2px;
        }
    }
    nav {
        width: 50%;
        font-family: $font-secondary;
        font-size: $text-small;
    
    }
    .nav__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    li {
        list-style: none;
        &:hover {
            color: map-get($colores , "alternative-color");
        }
    }
}
