.title__contacto {
    border: $terciary-color solid 3px;
    border-radius: 4%;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-principal;
    font-size: $text-small;
    text-align: center;
    align-items: center;
    height: 700px;
    width: 30%;
    margin-left: 60px;
    margin-top: 60px;
}
.title__rs {
    border: $terciary-color solid  3px;
    border-radius: 4%;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-principal;
    font-size: $text-medium;
    text-align: center;
    align-items: center;
    height: 700px;
    width: 30%;
    margin-right: 60px;
    margin-top: 60px;
}