.background {
    background-color: map-get($colores ,"main-color");
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation-duration: 3s;
    animation-name: slidetext;
    .text {
        display: flex;
        flex-wrap: wrap;
        text-justify: auto;
        font-size: $text-small;
        margin: 20px;
        font-family: $font-secondary;
    }
    .title__il {
        border: solid black 3px;
        border-radius: 4%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: $text-medium;
        text-align: center;
        align-items: center;
        height: 500px;
        margin-top: 40px;
        margin-left: 40px;
        width: 40%;
        font-family: $font-principal;
    }
    .h2__il {
        margin-top: 10px;
    }
    .img {
        width: 150px;
    }
    section {
        border: map-get($colores ,"terciary-color") solid  3px;
        border-radius: 4%;
        background-color: map-get($colores ,"secondary-color");
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 700px;
        width: 40%;
        margin-top: 40px;
        margin-right: 200px;
        align-items: center;
    }
    .title__section {
        font-family: $font-principal;
        font-size: $text-medium;
        height: 30%;
        margin: 10px;
        margin-bottom: 30px;
        text-align: center;
    
    }
}