.background {
    background-color: map-get($colores ,"main-color");
    &__article {
        background-color: map-get($colores , "secondary-color" );
    }
}

main {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    animation-duration: 3s;
    animation-name: slidetext;
    .text {
        display: flex;
        flex-wrap: wrap;
        text-justify: auto;
        font-size: $text-small;
        margin: 20px;
        font-family: $font-secondary;
    }
    .title__il {
        border: solid black 3px;
        border-radius: 4%;
        @include flex(column, space-between, center);
        flex-wrap: wrap;
        font-size: $text-medium;
        text-align: center;
        height: 500px;
        margin-top: 40px;
        margin-left: 40px;
        width: 40%;
        font-family: $font-principal;
    }
    .h2__il {
        margin-top: 10px;
    }
    .img {
        width: 150px;
    }
    section {
        border: map-get($colores ,"terciary-color") solid  3px;
        border-radius: 4%;
        background-color: map-get($colores ,"secondary-color");
        @include flex(column, space-between, center);
        /* display: flex; 
        flex-direction: column;
        justify-content: space-between;
        /* align-items: center; */
        height: 700px;
        width: 40%;
        margin-top: 40px;
        margin-right: 200px;
    }
    .title__section {
        font-family: $font-principal;
        font-size: $text-medium;
        height: 30%;
        margin: 10px;
        margin-bottom: 30px;
        text-align: center;
    }
}