.title__pla {
    border: var(--terciary-color) solid  3px;
    border-radius: 3px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 75px;
    align-items: center;
}