@keyframes slidein {
    from {
        margin-right: 20px;
    }
    to {
        margin-right: 0px;
    }
    }

@keyframes slidetext {
    from {
     margin-right: 20px;
        }
    to {
        margin-right: 0px;
        }
}