:root {
    /* COLORES */
    $main-color: rgba(6, 157, 107, 0.7);
    $secondary-color: rgba(233, 226, 32, 0.9);
    $terciary-color: black;
    $alternative-color: red;
    /* FUENTES */
    $font-principal: 'Oswald', sans-serif;
    $font-secondary: 'Inconsolata', monospace; 
    /* TAMAÑOS FUENTES */
    $text-large: 50px;
    $text-medium: 35px;
    $text-small: 18px;
}